version: '3.8'

services:
  postgres:
    image: postgres:13-alpine
    container_name: soulful-postgres
    environment:
      POSTGRES_USER: ${PGUSER}
      POSTGRES_PASSWORD: ${PGPASSWORD}
      POSTGRES_DB: ${PGDATABASE}
    volumes:
      - my_pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - soulful-network

  app:
    build: .
    container_name: soulful-bot
    command: /usr/local/bin/wait-for-it.sh postgres:5432 -- node build/index.js
    ports:
      - "3000:3000"
    environment:
      BOT_TOKEN: ${BOT_TOKEN}
      ADMIN_ID: ${ADMIN_ID}
      PGUSER: ${PGUSER}
      PGPASSWORD: ${PGPASSWORD}
      PGDATABASE: ${PGDATABASE}
      PGHOST: ${PGHOST}
      PGPORT: ${PGPORT}
      DATABASE_URL: postgres://${PGUSER}:${PGPASSWORD}@postgres:5432/${PGDATABASE}
    depends_on:
      - postgres
    networks:
      - soulful-network

networks:
  soulful-network:
    driver: bridge

volumes:
  my_pgdata: