services:
  postgres:
    image: postgres:13-alpine
    container_name: soulful-postgres-dev
    environment:
      POSTGRES_USER: ${PGUSER}
      POSTGRES_PASSWORD: ${PGPASSWORD}
      POSTGRES_DB: ${PGDATABASE}
    volumes:
      - my_pgdata_dev:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - soulful-network

  app:
    build: .
    container_name: soulful-bot-dev
    environment:
      NODE_ENV: development
      BOT_TOKEN: ${BOT_TOKEN}
      ADMIN_ID: ${ADMIN_ID}
      PGUSER: ${PGUSER}
      PGPASSWORD: ${PGPASSWORD}
      PGDATABASE: ${PGDATABASE}
      PGHOST: postgres
      PGPORT: ${PGPORT}
      DATABASE_URL: postgres://${PGUSER}:${PGPASSWORD}@postgres:${PGPORT}/${PGDATABASE}
    depends_on:
      - postgres
    ports:
      - "3000:3000"
    networks:
      - soulful-network
    volumes:
      - ./src:/app/src
      - ./package.json:/app/package.json
      - ./tsconfig.json:/app/tsconfig.json
    command: npx ts-node-dev --respawn --transpile-only src/index.ts

networks:
  soulful-network:
    driver: bridge

volumes:
  my_pgdata_dev:
